<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Калькулятор безубыточности</title>
    <link rel="stylesheet" href="/static/styles/breakevenCalc_style.css" />
  </head>
  <body>
    <div class="page-root">
      <header class="topbar">
        <div class="logo-wrap">
          <a href="/Nalogimain">
            <img
              src="http://localhost:9000/lab1/fns.svg.png"
              alt="logo"
              class="logo-img"
            />
          </a>
          <div class="service-title">ФЕДЕРАЛЬНАЯ<br />НАЛОГОВАЯ СЛУЖБА</div>
        </div>
      </header>

      <main class="content breakeven-root">
        <h1 class="page-title">Калькулятор точки безубыточности</h1>

        <!-- Верхняя строка: ввод + объём + ответ -->
<!-- Верхняя строка: ввод + объём + ответ -->
<div class="top-row">
  <div class="input-wrap">
    <input
      class="input product-cost"
      placeholder="Введите стоимость единицы продукции"
      value="{{ if .CalcRequest.AmountProduct }}{{ .CalcRequest.AmountProduct}}{{ else }}{{ "" }}{{ end }}" 
    />

  </div>
<div class="answer-wrap">
  <div class="result-card">
    Точка безубыточности: {{ .CalcRequest.CalcAnswer }} ед.
  </div>
  <form action="/breakevencalc/delete-calc" method="POST" style="display:inline;">
    <input type="hidden" name="BreakevenRequestID" value="{{ .CalcRequest.BreakevenRequestID }}">
    <button type="submit" class="btn-delete">Удалить заявку</button>
  </form>
</div>

</div>


        <!-- Карточки -->
        {{ with .CalcRequest }}
          <!-- Заголовок таблицы-карточки -->
          <section class="card card-header">
            <div class="card-body header-row">
              <div class ="col img"></div>
              <div class="col name">Название</div>
              <div class="col desc">Описание</div>
              <div class="col price">Цена</div>
              <div class="col type">Тип траты</div>
              <div class="col amount">Величина</div>
            </div>
          </section>

          {{ range .RequestExpense }}
          <section class="card">
            <div class="card-body row">
              <div class ="col img">
                <div
                  class="card-img"
                  style="background-image: url('{{ .Expense.ImageURL }}')"
                ></div>
                </div>
                <div class="col name">
                <h2 class="card-heading">{{ .Expense.Title }}</h2>
              </div>

              <div class="col desc">
                <div class="card-sub">{{ .Expense.ShortDescription }}</div>
              </div>

              <div class="col price">
                <p class="card-price">{{ .Expense.Price }} ₽</p>
              </div>

              <div class="col type">
                <div class="radios">
                  <label class="radio-label">
                    <input
                      type="radio"
                      name="cost_type_{{ .Expense.ExpenseID }}"
                      value="fixed"
                      {{ if eq .TypeSpend 1 }}checked{{ end }}
                    />
                    Постоянные
                  </label>
                  <label class="radio-label">
                    <input
                      type="radio"
                      name="cost_type_{{ .Expense.ExpenseID }}"
                      value="variable"
                      {{ if eq .TypeSpend 2 }}checked{{ end }}
                    />
                    Переменные
                  </label>
                </div>
              </div>

              <div class="col amount">
                <input
                  class="input amount-input"
                  placeholder="Введите величину"
                  value="{{ if .AmountService }}{{ .AmountService }}{{ else }}{{ "" }}{{ end }}"
                />
              </div>
            </div>
          </section>
          {{ end }}
        {{ else }}
          <div class="no-results">Нет активной заявки</div>
        {{ end }}
      </main>

      <footer></footer>
    </div>
  </body>
</html>
